.RhymesListItem {
    border: 3px solid var(--brand-color-5);
    border-left-width: 1px;
    border-right-width: 1px;
    background-color: var(--card-background);
    border-radius: 10px;
    padding: 10px;
    position: relative;
    box-shadow: 3px 2px 5px var(--brand-color-4);
    transition: all 0.2s ease;

    &:hover {
        transform: scale(1.05);
        z-index: 1;
    }

    &Word {
        margin: 0.5rem 0.25rem;
        color: var(--brand-color-6);
        word-break: break-word;
    }

    &Score {
        border-radius: 30%;
        box-shadow: 0px 0px 4px 0px var(--brand-color-5);
        cursor: default;
        color: var(--brand-color-5);
        font-size: 60%;
        display: inline-block;
        padding: 5px 10px;
        background-color: var(--card-badge-background);
        border: var(--border);
        position: absolute;
        top: -5px;
        right: -5px;
        font-weight: 700;
        text-decoration: underline;
    }
}
